
/* Default styles for all screen sizes */
.home-content-general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.home-title {
    font-size: 3rem;
    text-align: center;
}

.home-title:hover {
    color: white;
}

.home-info {
    font-size: 2.5rem;
    text-align: center;
}

.home-contacme,
.contact {
    width: 100%;
    justify-content: center;
    align-self: center;
    display: flex;
}

.contact-social {
    font-size: 4rem;
}
/* responsive */
@media only screen and (max-width: 1000px) {
    .home-content-general {
        height: auto;
        flex-direction: column;
    }

    .home-title {
        font-size: 2rem;
    }

    .home-info {
        font-size: 2rem;
    }

    .contact-social {
        font-size: 3rem;
    }
    .home-svg {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .home-title {
        font-size: 1.5rem;
    }

    .home-info {
        font-size: 1.2rem;
    }

    .contact-social {
        font-size: 2rem;
    }
    .home-svg {
        width: 10%;
        align-items: center;
        justify-content: center;
    }
}
/* Icos */
.contact-facebook:hover {
    color: #0866ff;
}

.contact-instagram:hover {
    color: #fd1d1d;
}

.contact-linkedin:hover {
    color: #0a66c2;
}

.contact-github:hover {
    color: black;
}

.contact-gmail:hover {
    color: #BB001B;
}

/* SVG  */
.home-svg {
    width: 100%;
    align-items: center;
    justify-content: center;
}